<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{% url 'index' %}"><span> Computer science</span> Departement </a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="{% if request.path == '/' %}active{% endif %} "href="{% url 'index' %}">Home</a></li>
          <li><a class="{% if request.path == '/about/' %}active{% endif %} "href="{% url 'about' %}">About</a></li>
          <li class="dropdown"><a class="{% if 'scolarite' in request.path %}active{% endif %} " href="#"><span>Scolarité</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'planning' %}">Emploi du temps</a></li>
              <li><a href="{% url 'planningexams' %}">Planing des examens </a></li>
              <li><a href="Affichage-des-notes.html">Affichage des notes</a></li>
            </ul>
          </li>
          <li><a class="{% if request.path == 'clubs' %}active{% endif %} "href="{% url 'clubs' %}">Clubs</a></li>
          <li class="dropdown"><a class="{% if 'courses' in request.path %}active{% endif %} " href="#"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://el-mi.univ-batna2.dz/">Moodle</a></li>
              <li><a href="{% url 'licence' %}">Licence</a></li>
              <li><a href="master.html">Master</a></li>
              <li><a href="anciens-examens.html">Ancien examens</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="{% if 'staff' in request.path %}active{% endif %} " href="#"><span>Staff</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="administration.html">Administration</a></li>
              <li><a href="enseignant.html">Enseignant </a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <div class="header-social-links d-flex">
        <a href="https://www.facebook.com/chefdepartementinformatiquebatna" target="_blank" class="facebook"><i class="bu bi-facebook"></i></a>
      </div>
      {%if user.is_authenticated%}
      <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="" alt="" class="rounded-circle">
        <span class="d-none d-md-block dropdown-toggle ps-3">{{user.name}}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li>
          <a class="dropdown-item d-flex align-items-center" href="{% url 'profpanel' %}">
            <i class="bi bi-person"></i>
            <span>AdminPanel</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-right"></i>
            <span>Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
    {%endif%}
  </header>

